<h1>{{t "common.user.confirmPassword"}}</h1>
<p id="confirmPasswordFormExplanation">{{t "templates.user.ConfirmPasswordDialogTemplate.explanation1" }}<em>{{changedProtected}}</em><br/>{{t "templates.user.ConfirmPasswordDialogTemplate.explanation2"}}</p>
<form id="confirmPasswordForm" action="" class="form clearfix" method="post" onsubmit="return false" autocomplete="off">

    <fieldset class="clearfix" >
      
        <div class="group-field-row">
            <label for="currentPassword" class="align-right">{{t "common.user.currentPassword"}}</label> 
            <input type="password" name="currentPassword" id="currentPassword" data-validator="required" data-validator-event="change keyup"  data-validation-status="error" autofocus required/>
            <span class="error">x</span>
        </div>

    </fieldset>
</form>      