<div class="row">
    <div
        class="col-lg-4"
        data-ng-repeat="meter in adminMeterCtrl.meterMap">

        <label>
            <input
                type="checkbox"
                data-ng-checked="meter.enabled"
                data-ng-click="adminMeterCtrl.toggleMeter(meter.name)">

                {{meter.name}}
        </label>
    </div>
</div>

<button
    type="button"
    class="btn btn-success btn-lg btn-block"
    data-ng-click="adminMeterCtrl.updateUdrMeters()">Save</button>
