<div data-ng-if="!overviewCtrl.hasKeystoneId()" class="col-lg-12">
    <div class="alert alert-warning">
        No data providers have been configured yet.
        Please link at least one provider with this dashboard.
        <a ui-sref="cloudservices">Configure now</a>
    </div>
</div>

<div data-ng-if="overviewCtrl.hasKeystoneId()" class="chart-container">
    <div class="alert alert-warning">
        <div class="form-group">
            <label for="timeperiod">Currently displaying:</label>
            <select class="form-control input-lg" id="timeperiod" data-ng-change="overviewCtrl.onDateChanged()" data-ng-model="overviewCtrl.selectedDate">
                <option data-ng-selected="true" value="last6Hours">
                    Last 6 Hours
                </option>
                <option value="today">
                    Today
                </option>
                <option value="yesterday">
                    Since Yesterday ({{overviewCtrl.dates.yesterday.from}} - {{overviewCtrl.dates.yesterday.to}})
                </option>
                <option value="last3days">
                    Last 3 Days ({{overviewCtrl.dates.last3days.from}} - {{overviewCtrl.dates.last3days.to}})
                </option>
                <option value="lastWeek">
                    Last Week ({{overviewCtrl.dates.lastWeek.from}} - {{overviewCtrl.dates.lastWeek.to}})
                </option>
                <option value="lastMonth">
                    Last Month ({{overviewCtrl.dates.lastMonth.from}} - {{overviewCtrl.dates.lastMonth.to}})
                </option>
                <option value="lastYear">
                    Last Year ({{overviewCtrl.dates.lastYear.from}} - {{overviewCtrl.dates.lastYear.to}})
                </option>
            </select>
        </div>
    </div>

    <div class="row">
        <cumulative-chart name="network.incoming.bytes" type="usage" class="col-lg-6"></cumulative-chart>
        <cumulative-chart name="network.outgoing.bytes" type="usage" class="col-lg-6"></cumulative-chart>
    </div>
    <chart-container></chart-container>
</div>
